@using CemexExamApp.ViewModel.VMAccount
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_Layout - Login.cshtml";
}

<h1 style="color:navy" >Forget Password</h1>

<h4 style="color:crimson" class="offset-3">Enter your Email</h4>
<hr />
<div class="row">
    
    <div class="offset-2 col-md-4">
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Message != null)
            {
                <h3 class="alert alert-success">@ViewBag.Message</h3>
            } 
            <div class="form-group text-center">
                <input asp-for="Email" class="form-control" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group text-center" style="margin-top:10px;">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
            <br/>
            <div>
                <a asp-action="Login" class="btn btn-outline-success">Back to Login</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
