@model CemexExamApp.Models.Question

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color:crimson" class="text-center">Questions Management</h3>
<h2 style ="color:navy">Question Search</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Message != null)
        {
            <h3 class="alert alert-success">@ViewBag.Message</h3>
        }
    </div>
</div>
<div class="row">
    
    <div class="offset-3 col-md-7 text-center">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="EnglishName" class="col-form-label fw-bold">Question Name EN/AR</label>
         
                    <input asp-for="EnglishName" class="form-control form-inline" />
             
            </div>
            <div class="form-group">
                <label asp-for="Topic.EnglishName" class="col-form-label fw-bold">Topic EN/AR</label>
                <input asp-for="Topic.EnglishName" class="form-control" />
            </div>
            
            <div class="form-group">
                <label asp-for="LevelID" class="col-form-label fw-bold">Difficulty level</label>
                <select asp-for="LevelID" class="form-control text-center" asp-items="ViewBag.LevelID">
                    <option value="-1" class="text-center">-- Select level--</option>
                </select>
                
            </div>
          
            <div class="form-group form-control-lg">
                <input type="submit" value="Search" class="btn btn-primary form-control-lg" /> |
                <a asp-action="Index" asp-controller="Question" class="btn btn-info">Back to Question List</a>
            </div>
        </form>
    </div>
</div>

@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
