
@{
    ViewData["Title"] = "Number Per Topics";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int Count = ViewBag.Count;
}


<h3 style="color:crimson" class="text-center">Topic Report</h3>

<hr />
<h2 style="color:navy"> Number of Topics</h2>
 <h4 style="color:crimson" class="text-center"> @Count</h4>


