@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold" style="color:crimson">Welcome CEMEX</h1>
    <img src="~/img/1.jpg" width="1100px;" height="628px;" />
    <img src="~/img/2.jpg" width="1100px;" height="628px;" />
    <img src="~/img/3.jpg" width="1100px;" height="628px;" />
    <img src="~/img/4.jpg" width="1100px;" height="628px;" />
</div>
